<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<body>

<footer th:fragment="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        © 2015 - <span th:text="${#dates.year(#dates.createNow())}"></span> «OG Dev». Москва.
      </div>
      <div class="col-lg-6 text-right">
        <small>Работает на Spring Framework.</small>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
          integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
          crossorigin="anonymous"></script>
  <script src="/js/transliterate.js"></script>
  <script src="/js/highlight.pack.js"></script>
  <script src="/js/cookie.js"></script>
  <script src="/js/script.js"></script>
</footer>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(87987079, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });

</script>
<noscript>
  <div><img src="https://mc.yandex.ru/watch/87987079" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->

</body>
</html>