<!doctype html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:fragment="head">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
  <link rel="stylesheet" th:href="${theme == 'dark'} ? '/css/dark.css' : '/css/light.css'" type="text/css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/agate.min.css">
  <link type="image/svg" rel="icon" href="/img/logo.svg">
  <link type="image/png" rel="icon" href="/img/favicon.ico"/>
  <meta charset="UTF-8">
  <title th:text="${ob.title}"></title>
</head>

</html>