<!doctype html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout/head::head"></head>
<body>
<div th:replace="layout/header::header"></div>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <div class="page-my-work-edit">

          <form th:action="@{'/my/work/'+${ob.mode}}" method="post">
            <input th:if="${ob?.work?.id}" type="hidden" name="id" th:value="${ob.work.id}">

            <div class="input-group mb-3">
              <span class="input-group-text">Название:</span>
              <input type="text" name="name" class="form-control" th:value="${ob.work.name}">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">Задача:</span>
              <textarea type="text" name="task" class="form-control" th:text="${ob.work.task}"></textarea>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">Прогноз, мин.:</span>
              <input type="number" name="prediction" class="form-control" th:value="${ob.work.prediction}">
              <span class="input-group-text">Факт, мин.:</span>
              <input type="number" name="fact" class="form-control" th:value="${ob.work.fact}">
              <span class="input-group-text">Дата:</span>
              <input type="date" name="date" class="form-control"
                     th:value="${#dates.format(ob.work.date, 'yyyy-MM-dd')}">
            </div>
            <div class="input-group mb-3">

              <span class="input-group-text">Заказчик:</span>
              <select class="form-select" name="customer">
                <option
                  th:each="customer : ${ob.customers}"
                  th:value="${customer.code}"
                  th:text="${customer.code}"
                  th:selected="${customer.code == ob.work.customer}">
                </option>
              </select>

              <span class="input-group-text">Проект:</span>
              <select class="form-select" name="project">
                <option
                  th:each="project : ${ob.projects}"
                  th:value="${project.code}"
                  th:text="${project.code}"
                  th:selected="${project.code == ob.work.project}">
                </option>
                <option value="" th:selected="${ob.work.project == null}">-</option>
              </select>

            </div>
            <div class="input-group mb-3">

              <span class="input-group-text">Постановщик:</span>
              <select class="form-select" name="provider">
                <option
                  th:each="provider : ${ob.providers}"
                  th:value="${provider.name}"
                  th:text="${provider.name}"
                  th:selected="${provider.name == ob.work.provider}">
                </option>
                <option value="" th:selected="${ob.work.provider == null}">-</option>
              </select>


              <span class="input-group-text">Исполнитель:</span>
              <select class="form-select" name="executor">
                <option
                  th:each="executor : ${ob.executors}"
                  th:value="${executor.initials}"
                  th:text="${executor.initials}"
                  th:selected="${executor.initials == ob.work.executor}">
                </option>
              </select>

              <span class="input-group-text">Статус:</span>
              <select class="form-select" name="status">
                <option
                  th:each="status : ${ob.statuses}"
                  th:value="${status.name}"
                  th:text="${status.name}"
                  th:selected="${status.name == ob.work.status}"
                >
                </option>
              </select>

            </div>
            <div class="input-group mb-3">

              <span class="input-group-text">Внеш ид:</span>
              <input type="text" name="ext_id" class="form-control" th:value="${ob.work.ext_id}">
              <span class="input-group-text">Сортировка</span>

              <input type="text" name="sort" class="form-control" th:value="${ob.work.sort}">

              <span class="input-group-text">Приоритет:</span>
              <input type="number" name="priority" class="form-control" th:value="${ob.work.priority}">

            </div>
            <button class="btn btn-success" type="submit" style="float: right;">Сохранить</button>
            <button class="btn btn-danger" name="delete" value="y" type="submit">Удалить</button>
          </form>

        </div>

      </div>
    </div>

  </div>
</div>

<footer th:replace="layout/footer::footer"></footer>
</div>
</body>
</html>