<!doctype html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/head::head"></head>
<body>
<div th:replace="layout/header::header"></div>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="page-my-works">
        <!--/*
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link " href="/my/statistic">
              Статистика
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/my/works">
              Задачи
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/my/profile">
              Профиль
            </a>
          </li>
        </ul>
        */-->
        <div class="page-my-works">
          <div class="row filter-line">
            <div class="col-lg-12">
              <form action="" method="get">

                <select class="form-select-sm" name="customer"
                        sec:authorize="hasAnyRole('ROLE_8', 'ROLE_10')">
                  <option value="%">Все заказчики</option>
                  <option th:each="customer : ${filter.customers}"
                          th:value="${customer.code}"
                          th:text="${customer.name}"
                          th:selected="${customer.code == filter.customer}">
                  </option>
                </select>

                <select class="form-select-sm" name="project">
                  <option value="%">Все проекты</option>
                  <option th:each="project : ${filter.projects}"
                          th:value="${project.code}"
                          th:text="${project.code}"
                          th:selected="${project.code == filter.project}"
                  >
                  </option>
                </select>
                <select class="form-select-sm" name="executor">
                  <option value="%">Все исп.</option>
                  <option th:each="executor : ${filter.executors}"
                          th:value="${executor.initials}"
                          th:text="${executor.initials}"
                          th:selected="${executor.initials == filter.executor}"
                  >
                  </option>
                </select>

                <select class="form-select-sm" name="status">
                  <option value="%">Все статусы</option>
                  <option th:each="status : ${filter.statuses}"
                          th:value="${status.name}"
                          th:text="${status.name}"
                          th:selected="${status.name == filter.status}"
                  >
                  </option>
                </select>

                <input type="date" name="from" th:value="${filter.from}">
                <input type="date" name="to" th:value="${filter.to}">

                <button type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-filter-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                    <path
                      d="M7 11.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z"></path>
                  </svg>
                  Фильтр
                </button>

                &nbsp;

                <a href="/my/works/?reset_filter=y">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-lightning"
                       viewBox="0 0 16 16">
                    <path
                      d="M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641l2.5-8.5zM6.374 1 4.168 8.5H7.5a.5.5 0 0 1 .478.647L6.78 13.04 11.478 7H8a.5.5 0 0 1-.474-.658L9.306 1H6.374z"></path>
                  </svg>
                  Сбросить
                </a>

              </form>
            </div>
            <div class="col-lg-12 mt-2">

              Сегодня: &nbsp;
              <span th:text="${stat.todayMin}"></span>

              <span th:each="exec : ${stat.todayMinByExec}">
                  <span th:text="${exec.key}"></span>:<span th:text="${exec.value}"></span> &nbsp;
              </span>

              &nbsp;

              <a href="/my/work/add">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-plus-circle"
                     viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                  <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                </svg>
                Добавить
              </a>

              &nbsp;

              <a href="/my/works.csv" title="Скачать CSV">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-filetype-csv" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                        d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM3.517 14.841a1.13 1.13 0 0 0 .401.823c.13.108.289.192.478.252.19.061.411.091.665.091.338 0 .624-.053.859-.158.236-.105.416-.252.539-.44.125-.189.187-.408.187-.656 0-.224-.045-.41-.134-.56a1.001 1.001 0 0 0-.375-.357 2.027 2.027 0 0 0-.566-.21l-.621-.144a.97.97 0 0 1-.404-.176.37.37 0 0 1-.144-.299c0-.156.062-.284.185-.384.125-.101.296-.152.512-.152.143 0 .266.023.37.068a.624.624 0 0 1 .246.181.56.56 0 0 1 .12.258h.75a1.092 1.092 0 0 0-.2-.566 1.21 1.21 0 0 0-.5-.41 1.813 1.813 0 0 0-.78-.152c-.293 0-.551.05-.776.15-.225.099-.4.24-.527.421-.127.182-.19.395-.19.639 0 .201.04.376.122.524.082.149.2.27.352.367.152.095.332.167.539.213l.618.144c.207.049.361.113.463.193a.387.387 0 0 1 .152.326.505.505 0 0 1-.085.29.559.559 0 0 1-.255.193c-.111.047-.249.07-.413.07-.117 0-.223-.013-.32-.04a.838.838 0 0 1-.248-.115.578.578 0 0 1-.255-.384h-.765ZM.806 13.693c0-.248.034-.46.102-.633a.868.868 0 0 1 .302-.399.814.814 0 0 1 .475-.137c.15 0 .283.032.398.097a.7.7 0 0 1 .272.26.85.85 0 0 1 .12.381h.765v-.072a1.33 1.33 0 0 0-.466-.964 1.441 1.441 0 0 0-.489-.272 1.838 1.838 0 0 0-.606-.097c-.356 0-.66.074-.911.223-.25.148-.44.359-.572.632-.13.274-.196.6-.196.979v.498c0 .379.064.704.193.976.131.271.322.48.572.626.25.145.554.217.914.217.293 0 .554-.055.785-.164.23-.11.414-.26.55-.454a1.27 1.27 0 0 0 .226-.674v-.076h-.764a.799.799 0 0 1-.118.363.7.7 0 0 1-.272.25.874.874 0 0 1-.401.087.845.845 0 0 1-.478-.132.833.833 0 0 1-.299-.392 1.699 1.699 0 0 1-.102-.627v-.495Zm8.239 2.238h-.953l-1.338-3.999h.917l.896 3.138h.038l.888-3.138h.879l-1.327 4Z"/>
                </svg>
                Скачать CSV
              </a>

            </div>
          </div>

          <table class="table table-bordered table-sm">
            <tbody>
            <tr>
              <th title="Внутренний ИД">#</th>
              <th title="Внешний ИД">Внеш.</th>
              <th title="Описание задачи" class="l">Задача (Наименование / Описание)</th>
              <th title="Прогноз по времени в минутах">Прог.</th>
              <th title="Фактически затраченное время в минутах">Факт</th>
              <th title="Фактически затраченное время в целых часах">Час.</th>
              <th title="Дата исполнения">Дата</th>

              <th title="Заказчик">Заказчик</th>

              <th title="Проект">Проект</th>
              <th title="Постановщик">Постановщик</th>
              <th title="Исполнитель">Исп.</th>
              <th title="Статус">Статус</th>
              <th title="Приоритет задачи">П.</th>
            </tr>

            <tr th:attr="class=${work.mark}" th:each="work : ${ob.works}">
              <td>
                <u>
                  <a th:href="@{'/my/work/edit/'+${work.id}}">
                <span class="js-copy">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-files"
                       viewBox="0 0 16 16">
                    <path
                      d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z"></path>
                  </svg>
                </span>
                    <u th:text="${work.id}" class="id"></u>
                  </a>
                </u>
              </td>
              <td th:text="${work.ext_id}" class="ext_id"></td>
              <td class="l task">
                <div class="name" th:text="${work.name}"></div>
                <div class="task" th:if="${work.name == null}" th:text="${work.task}"></div>
              </td>
              <td th:text="${work.prediction}">-</td>
              <td th:text="${work.fact}">-</td>
              <td th:text="${work.hour}">-</td>
              <td th:text="${#dates.format(work.date, 'yyyy.MM.dd')}"></td>
              <td th:text="${work.customer}"></td>
              <td th:text="${work.project}"></td>
              <td th:text="${work.provider}"></td>
              <td th:text="${work.executor}"></td>
              <td th:text="${work.status}"></td>
              <td th:text="${work.priority}"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<footer th:replace="layout/footer::footer"></footer>
</body>
</html>