body {
  background: #222;
  color: #eee;
}

.table {
  color: #eee;
  border-color: #555;
}

body textarea,
body input,
body select,
body option,
body span.input-group-text {
  background: #222 !important;
  color: #eee !important;
  border-color: #555 !important;
}

a {
  color: #8ab9ff;
}

xmp {
  background: #f8e6e3;
  color: #333;
}

date {
  color: #bbb;
}

header, header a.unactive {
  color: rgba(255, 255, 255, 0.55) !important;
}

header a {
  color: #eee !important;
}

header a:hover {
  color: #eee;
}

header .logo_ img {
  border: 3px solid #f5c507;
  background: #f5c507;
}

header .text_ {
  border: 1px solid #f5c507;
  color: #eee;
  background: #f5c507;
}

header .theme-selector span {
  color: #eee;
}

.main-banner {
  background: #f7f5fb;
}

.main-banner h1 {
  color: #333;
}

.title-area {
  box-shadow: 0 0.5rem 1rem rgb(255 255 255 / 5%), inset 0 -1px 0 rgb(255 255 255 / 15%);
}

footer {
  background: #444;
  color: #eee;
}

.page-articles a.theme {
  color: orange;
}

.page-articles a.clear-filter {
  color: green;
}

.page-article form input[type=text], .page-article form select, .page-article form textarea {
  border: 1px solid #ddd;
}

.page-article form .detail-text {
  background: rgb(255, 251, 232);
}

.page-contacts .map {
  border: 1px solid #ddd;
}

.page-contacts .input-group-text span {
  color: #dc3400;
}

.page-contacts table {
  color: #eee !important;
}

.page-my-works tr.payment td {
  color: #dd93fd;
}

.page-my-works tr.plan td {
  color: #9aa9f9;
}

.page-my-works tr.today td {
  color: #a7dba7;
}

.page-my-works tr.error td {
  color: #db6868;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #eee;
  background-color: #242424;
}

.btn-light {
  color: #eee;
  background-color: #282828;
}

.btn-link {
  color: #67a5ff;
}

.nav-link {
  color: #8cbbff;
}

.page-my-works [type="submit"] {
    background: #222;
    color: #ccc;
}