/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@400;500;700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');*/
/* fix bootstrap */

.container {
  padding-left: 0px!important;
  padding-right: 0px!important;
}

/*global */

* {
  font-size: 15px;
  font-family: sans-serif;
  /*font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
  /*font: 400 16px/24px var(--devsite-primary-font-family);*/
  border-radius: 0px!important;
}

html {
  overflow-y: scroll;
}

h1 {
  font-size: 26px;
  margin: 10px 0px;
  font-weight: 400;
}

h2 {
  font-size: 22px;
  margin: 20px 0px 10px 0px;
  font-weight: 400;
}

h3 {
  font-size: 16px;
  font-weight: 500;
  margin: 14px 0px 6px 0px;
  font-weight: 500;
}

a {
  text-decoration: none !important
}

a:hover {
}

xmp {
  display: block;
  white-space: pre-wrap;
  padding: 10px;
  margin: 5px 0px 10px 0px;
}

pre, code, pre code, pre code * {
  font-family: Monospace !important;
  font-size: 14px;
}

date {
}

th {
  font-weight: 500;
}

b {
  font-weight: 500;
}

.wrapper {
  margin: 0px;
}

header, header a.unactive {
}

header a {
}

header a:hover {
}

header nav.navbar-dark {
  /*background: #5273b3;*/
  /*background: url('/img/mainpage/6.jpg');*/

  background: -webkit-linear-gradient(90deg, #1b1c55,#2f2888);
  background: linear-gradient(90deg, #1b1c55,#2f2888);
}

header .navbar-nav .nav-link {
  font-weight: 500;
}

header .logo_ {
  min-width: 160px;
}

header .logo_ img {
  float: left;
  text-decoration: none;
  height: 40px;
  margin: 0px 8px 0px 0px;
  padding: 0px;
}

header .text_ {
  float: left;
  padding: 8px 5px 7px 4px;
  font-size: 23px;
  text-decoration: none;
  line-height: 1;
  box-sizing: border-box;
}

header .text_ strong {
  font-size: 23px;
  font-weight: 500;
}

header .auth_ {
  margin-right: 20px;
}

header .theme-selector {
  margin: 0px 20px 0px 0px;
}

header .theme-selector span {
  cursor: pointer;
}

/*header .lang_ {}*/

.main-banner {
  width: 100%;
  padding: 30px 0px;
}

.main-banner h1 {
  font-size: 3rem;
  margin: 0px 20px 10px 0px;
}

.text-right{
  text-align: right;
}

.text-left{
  text-align: left;
}

/*
.breadcrumb, .breadcrumb a, .breadcrumb li {
  font-size: 14px;
  margin-bottom: 5px;
}
*/

.title-area {
  padding-bottom: 5px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 15%);
}

.content {
  margin: 15px 0px 55px 0px;
  padding: 15px 0px;
}

.sidebar {
  padding: 15px;
  font-size: 14px;
}

.sidebar a {
}

footer {
  padding: 8px 0px;
  position: fixed;
  width: 100%;
  bottom: 0px;
}

.page-main .icons-blocks .block {
  text-align: center;
}

.page-main .icons-blocks .block div {
  font-size: 14px;
}

.page-main .icons-blocks .block svg {
  width: 64px;
  height: 64px;
  margin: 20px 0px 10px 0px;
}

/*************************************************** login page */

.page-login input {
}

/*************************************************** articles page */

.page-articles {
}

.page-articles a.theme {
}

.page-articles a.clear-filter {
}

/*************************************************** article page */

.page-article form input[type=text], .page-article form select, .page-article form textarea {
  width: 100%;
}

.page-article form textarea.preview-text {
  height: 80px;
}

.page-article form textarea.detail-text {
  font-family: Monospace !important;
  /*color: red;*/
  font-size: 16px;
  height: 600px;
}

.page-contacts .diadoc-logo {
  margin: 5px 5px;
}

.page-contacts textarea {
  height: 150px;
}

.page-contacts .map {
}

.page-contacts .input-group-text span {
  padding-left: 5px;
}

.page-resume .av {
  width: 100%;
}

.page-resume .align-items-start svg {
  height: 32px;
  width: 32px;
}

.page-resume .align-items-start .text {
  padding: 0px 0px 0px 20px;
}

.page-resume .certificate {
  width:150px;
  margin-right:40px;
}

.page-my-works {
  margin: -1px 0px 0px 0px;
}

.page-my-works table th, .page-my-works table td {
  text-align: center;
  font-size: 14px;
  vertical-align: middle;
  padding: 2px 4px 2px 4px;
}

.page-my-works table td a {
  font-size: 14px;
}

.page-my-works .l {
  text-align: left;
}

.page-my-works th {
  font-weight: 500;
}

.page-my-works tr.plan td {
}

.page-my-works td.task div.name {
  font-weight: 400;
}

.page-my-works td.task div.task {
  white-space: pre-line;
  opacity: 0.7;
}

.page-my-works td.task div.task:hover {
  opacity: 1;
}

.page-my-works td.task hr {
  margin: 0px;
  border-top: 1px dashed #ccc;
}

.page-my-works td span {
  font-weight: 500;
}

.page-my-works tr.today td {
}

.page-my-works .filter-line {
  padding: 10px 0px;
}

.page-my-works [type="date"] {
  max-width: 140px;
}

.page-my-works [type="submit"] {
  border: 1px solid;
}

.page-my-works [type="date"] {
  border: 1px solid;
}

.page-my-works .js-copy {
  position: absolute;
  display: block;
  margin: 0px 0px 0px -28px;
  color: #ccc;
}

.page-my-work-edit textarea {
  min-height: 200px;
}

.page-my-statistic table td, .page-my-statistic table th {
  vertical-align: middle;
}