<!doctype html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout/head::head"></head>
<body>
<div th:replace="layout/header::header"></div>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-article">
          <date th:text="${#dates.format(ob.article.date, 'yyyy.MM.dd')}"></date>
          &nbsp;|&nbsp;
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill"
               viewBox="0 0 16 16">
            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
          </svg>
          <span th:utext="${ob.article.show_counter}"></span>
          &nbsp;

          <a th:if="${ob.userPerm == 10}" th:href="@{'/article/edit/'+${ob.article.id}}">
            Редактировать
          </a>

          <br/>
          <br/>
          <div th:utext="${ob.article.preview_text}"></div>
          <br/>
          <div th:utext="${ob.article.detail_text}"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer th:replace="layout/footer::footer"></footer>
</body>
</html>