<!doctype html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout/head::head"></head>
<body>
<div th:replace="layout/header::header"></div>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="page-contacts">

        <h2>Пишите</h2>
        <div th:if="${ob?.msg}" th:text="${ob.msg}" class="alert alert-success"></div>
        <form action="/contacts/send" method="post">
          <div class="input-group mb-3">
            <span class="input-group-text">Имя <span>*</span>:</span>
            <input name="name" type="text" value="" class="form-control" required="">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Эл.почта <span>*</span>:</span>
            <input name="email" type="text" value="" class="form-control" required="">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Телефон:</span>
            <input name="phone" type="text" value="" class="form-control">
          </div>
          <div class="input-group">
            <span class="input-group-text">Сообщение <span>*</span>:</span>
            <textarea name="msg" class="form-control" required=""></textarea>
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Отправить</button>
        </form>

        <hr class="my-4">

        <h2 id="for-connect">Для связи</h2>

        <table class="table table-bordered">
          <tbody>
          <tr>
            <td>Эл.почта:</td>
            <td><a href="mailto:oleg.goborov@yandex.ru">oleg.goborov@yandex.ru</a>,
              <a href="mailto:goborov@gmail.com">goborov@gmail.com</a></td>
          </tr>
          <tr>
            <td>Телефон, телеграм:</td>
            <td>
              <a href="tg://msg?to=+79067607600">+79067607600</a>
            </td>
          </tr>
          <tr>
            <td>Скайп (ссылка):</td>
            <td><a href="skype:live:oleg.goborov_1">Skype</a></td>
          </tr>
          <tr>
          </tr>
          </tbody>
        </table>


        <br class="my-4">


        <h2 id="requisites">Реквизиты</h2>
        <table class="table table-bordered table-sm">
          <tbody>
          <tr>
            <td>Полное наименование</td>
            <td>Индивидуальный предприниматель Гоборов Олег Валерьевич</td>
          </tr>
          <tr>
            <td>Краткое наименование</td>
            <td>ИП Гоборов Олег Валерьевич</td>
          </tr>
          <tr>
            <td>ИНН</td>
            <td>771876485705</td>
          </tr>
          <tr>
            <td>ОГРНИП</td>
            <td>315774600401185</td>
          </tr>
          <tr>
            <td>ОКПО</td>
            <td>0202690571</td>
          </tr>
          <tr>
            <td>ОКВЭД</td>
            <td>62.09 Деятельность, связанная с использованием вычислительной техники и информационных технологий,
              прочая
            </td>
          </tr>
          <!--/*<tr>
           <td>Юридический адрес</td>
           <td>107023, г. Москва, ул. Малая Семёновская, д. 15/17, корп. 4 кв. 6</td>
         </tr>*/-->
          <tr>
            <td>Телефон</td>
            <td>+7 (906) 760-76-00</td>
          </tr>
          <tr>
            <td colspan="2">Банковские реквизиты</td>
          </tr>
          <tr>
            <td>Расчетный счет</td>
            <td>40802810000000023792</td>
          </tr>
          <tr>
            <td>В банке</td>
            <td>Филиал «Центральный» Банка ВТБ (ПАО) г. Москва</td>
          </tr>
          <tr>
            <td>БИК</td>
            <td>044525411</td>
          </tr>
          <tr>
            <td>Корреспондентский счет</td>
            <td>30101810145250000411</td>
          </tr>
          <tr>
            <td>ЭДО</td>
            <td>
              <img class="diadoc-logo" src="/img/diadoc_logo_ru.png" title="Контур.Диадок">
            </td>
          </tr>
          </tbody>
        </table>

        <div class="map">
          <script type="text/javascript" charset="utf-8" async
                  src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Acafa5bbda5998fe8c83e81cb291f0e0a3455f25dacb4d27ed368e2c389fdfbac&amp;width=100%25&amp;height=420&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>

      </div>
    </div>
  </div>
</div>
<footer th:replace="layout/footer::footer"></footer>
</body>
</html>