<!doctype html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Частный веб-программист</title>
  <meta name="description"
        content="Разработка онлайн-приложений и сайтов. Программист Laravel / Bitrix. Опытный фрилансер"/>
  <link rel="canonical" href="/">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link type="image/svg" rel="icon" href="/img/logo.svg">
  <link type="image/png" rel="icon" href="/img/favicon.ico"/>
  <meta name="theme-color" content="#7952b3">
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }







  </style>

  <link href="/css/cover.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">

</head>
<body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0"><b>OG</b> Dev</h3>


      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="#">Главная</a>
        <a class="nav-link" href="/articles">Записки</a>
        <a class="nav-link" href="/resume">Резюме</a>
        <a class="nav-link" href="/contacts">Контакты</a>
      </nav>
    </div>
  </header>

  <main class="px-3">
    <h1>Частный веб-программист.</h1>
    <p class="lead">Разработка онлайн-приложений и сайтов. <br/>Программист под Spring / Laravel / Bitrix. <br/>Опытный
      фрилансер.
    </p>
    <p class="lead">
      <a href="/contacts"
         class="btn btn-lg btn-secondary fw-bold border-white bg-white">Связаться</a>
    </p>
  </main>

  <footer class="mt-auto text-white-50">
    <p>
      <!--/*
      ru | <a href="https://og-dev.com/locale/en" class="text-white"><i class="fas fa-globe-americas"></i> en</a>
      <br/>
      <br/>
      */-->

      <a sec:authorize="isAnonymous()" class="text-white" href="/login">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key-fill"
             viewBox="0 0 16 16">
          <path
            d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
        </svg>
        Войти
      </a>
      <a sec:authorize="isAuthenticated()" class="text-white" href="/my">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-file-earmark-person-fill" viewBox="0 0 16 16">
          <path
            d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm2 5.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-.245S4 12 8 12s5 1.755 5 1.755z"/>
        </svg>
        <span sec:authentication="name"></span>
      </a>
      &nbsp;
      <a sec:authorize="isAuthenticated()" class="text-white" href="/logout">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-door-open-fill" viewBox="0 0 16 16">
          <path
            d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
        </svg>
        Выйти</a>
      </a>


      <br/>
      <br/>
      © 2015 - <span th:text="${#dates.year(#dates.createNow())}"></span>
      «OG Dev». Москва. <br>
      <small>Работает на Spring Framework.</small>
    </p>
  </footer>
</div>

</body>
</html>


